@import "mocha.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Iosevka Nerd Font Mono";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

#waybar {
  background: transparent;
  color: @text;
  margin: 5px 5px;
}

tooltip {
    background: #1e1e2e;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: #11111b;
}

#workspaces button {
    padding: 0.1rem;
    color: @lavender;
    border-radius: 0.1rem;
}

#workspaces button.active {
    color: @sky;
    border-radius: 1rem;
}

#workspaces button:hover {
    background: @sapphire;
    color: @sapphire;
    border-radius: 1rem;
}

#cpu,
#memory,
#custom-power_profile,
#window,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#backlight {
    background-color: @surface0;
    opacity: 0.8;
    padding: 0.1rem 0.5rem;
}

#temperature {
    border-radius: 0px;
}

#temperature.critical {
    color: #eba0ac;
}

#backlight {
    border-radius: 10px 0px 0px 10px;
}

#tray {
  margin-right: 1rem;
  border-radius: 1rem;
}

#workspaces {
    background-color: @surface0;
    border-radius: 1rem;
    margin: 5px;
    margin-left: 1rem;
}

#custom-power_profile {
    color: @red;
    border-left: 0px;
    border-right: 0px;
}

#window {
    margin-left: 5px;
    margin-right: 5px;
}

#clock {
    color: @blue;
    border-radius: 0px;
}

#network {
    color: #f9e2af;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#cpu,
#memory {
    color: @peach;
    border-radius: 10px 0px 0px 10px;
    border-left: 0px;
    border-right: 0px;
}

#bluetooth {
    color: #89b4fa;
    border-radius: 0px;
} 

#pulseaudio {
    color: #89b4fa;
    border-left: 0px;
    border-right: 0px;
}

#pulseaudio.microphone {
    color: #cba6f7;
    border-left: 0px;
    border-right: 0px;
    border-radius: 0px 10px 10px 0px;
    margin-right: 10px;
}

#battery {
    color: @green;
}

#battery.charging {
    color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#custom-music {
  color: @mauve;
  border-radius: 1rem;
}

#custom-lock {
    border-radius: 1rem 0px 0px 1rem;
    color: @lavender;
}

